# Pandas needs Jinja2 for table styling, but it doesn't (yet) load automatically
# in Pyodide, so we need to explicitly list it here.
Jinja2
matplotlib
numpy
openpyxl
pandas
rsconnect-python
scikit-learn
shiny
statsmodels